# Ignore build output and intermediate files
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core specific
*.swp
*.swo
*.log

# Visual Studio specific
.vscode/
*.code-workspace

# Rider specific
.idea/
*.rider.*

# Web server settings
config/applicationhost.config

# Mac specific
.DS_Store

# Linux specific
.Trash-*
.xsession-errors*

# Logs
*.log

# Local DB files
*.mdf
*.ldf

# Entity Framework
*.edmx
*.edmx.sql
*.designer.cs

# Configuration files
appsettings*.json
secrets.json

# Publish output
wwwroot/
**/wwwroot/appsettings*.json
**/wwwroot/logs/

# npm and Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Other
dist/
build/
.idea/
.env
*.sqlite
*.db

# BundlerMinifier output
.bundle/
.bundleconfig.json

# LibMan output
.lib/
